
.socialize-docblock {
    background-position: 13px 18px !important;
}

.z-icon-es-twitter {
    background: url("../images/twitterbird.gif") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}

.z-icon-es-facebook {
    background: url("../images/facebook.gif") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}


.z-icon-es-googleplus {
    background: url("../images/googleplus.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}

.z-icon-es-sexybookmarks {
    background: url("../images/sexybookmarks.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}

.z-icon-es-sharethis {
    background: url("../images/sharethis.gif") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}

.z-icon-es-socialshareprivacy {
    background: url("../javascript/socialshareprivacy/images/logo.jpg") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}

