div.section{
    border: 1px solid #CCCCCC;
    margin: 30px 5px;
    padding: 0px 0px 10px 0px;
    background-color: #EFEFEF;
    overflow: hidden;
}

div.section h3{
    background: #CFCFCF; /*non-CSS3 browsers*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#CFCFCF'); /*IE*/
    background:-webkit-gradient(linear,left top, left bottom,from(#fafafa),to(#CFCFCF)); /*webkit*/
    background:-moz-linear-gradient(top, #fafafa, #CFCFCF); /*gecko*/
    background: linear-gradient(#fafafa, #CFCFCF); /*CSS3*/
    padding: 7px 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

div.lineitem {
    width:56px;
    height:42px;
    cursor: move;
    float:left;
}

div.sexy-diigo, div.sexy-diigo, div.sexy-digg, div.sexy-digg, div.sexy-reddit, div.sexy-reddit, div.sexy-stumbleupon, div.sexy-stumbleupon, div.sexy-delicious, div.sexy-delicious, div.sexy-yahoobuzz, div.sexy-yahoobuzz, div.sexy-blinklist, div.sexy-blinklist, div.sexy-technorati, div.sexy-technorati, div.sexy-facebook, div.sexy-facebook, div.sexy-twitter, div.sexy-twitter, div.sexy-myspace, div.sexy-myspace, div.sexy-mixx, div.sexy-scriptstyle, div.sexy-scriptstyle, div.sexy-designfloat, div.sexy-designfloat, div.sexy-mail, div.sexy-mail, div.sexy-comfeed, div.sexy-comfeed, div.sexy-newsvine, div.sexy-newsvine, div.sexy-devmarks, div.sexy-devmarks, div.sexy-linkedin, div.sexy-linkedin, div.sexy-googlereader, div.sexy-googlebookmarks, div.sexy-googlebuzz, div.sexy-booz, div.sexy-misterwong, div.sexy-izeby, div.sexy-izeby, div.sexy-twittley, div.sexy-twittley, div.sexy-tipd, div.sexy-tipd, div.sexy-pfbuzz, div.sexy-pfbuzz, div.sexy-friendfeed, div.sexy-friendfeed, div.sexy-blogmarks, div.sexy-blogmarks, div.sexy-fwisp, div.sexy-fwisp, div.sexy-designmoo, div.sexy-designmoo, div.sexy-bobrdobr, div.sexy-bobrdobr, div.sexy-yandex, div.sexy-yandex, div.sexy-memoryru, div.sexy-memoryru, div.sexy-100zakladok, div.sexy-100zakladok, div.sexy-moemesto, div.sexy-moemesto, div.sexy-ning, div.sexy-ning, div.sexy-hackernews, div.sexy-hackernews, div.sexy-identica, div.sexy-identica, div.sexy-printfriendly, div.sexy-printfriendly, div.sexy-designbump, div.sexy-designbump, div.sexy-fleck, div.sexy-fleck, div.sexy-netvibes, div.sexy-netvibes, div.sexy-netvouz, div.sexy-netvouz, div.sexy-nujij, div.sexy-nujij, div.sexy-globalgrind, div.sexy-globalgrind, div.sexy-wikio, div.sexy-wikio, div.sexy-xerpi, div.sexy-xerpi, div.sexy-sphinn, div.sexy-sphinn, div.sexy-blogospherenews, div.sexy-blogospherenews, div.sexy-posterous, div.sexy-posterous, div.sexy-techmeme, div.sexy-techmeme, div.sexy-ekudos, div.sexy-ekudos, div.sexy-pingfm, div.sexy-pingfm, div.sexy-tomuse, div.sexy-tomuse, div.sexy-webblend, div.sexy-webblend, div.sexy-wykop, div.sexy-wykop, div.sexy-blogengage, div.sexy-blogengage, div.sexy-hyves, div.sexy-hyves, div.sexy-pusha, div.sexy-pusha, div.sexy-hatena, div.sexy-hatena, div.sexy-mylinkvault, div.sexy-mylinkvault, div.sexy-slashdot, div.sexy-slashdot, div.sexy-squidoo, div.sexy-squidoo, div.sexy-propeller, div.sexy-propeller, div.sexy-faqpal, div.sexy-faqpal, div.sexy-evernote, div.sexy-evernote, div.sexy-meneame, div.sexy-meneame, div.sexy-bitacoras, div.sexy-bitacoras, div.sexy-jumptags, div.sexy-jumptags, div.sexy-bebo, div.sexy-bebo, div.sexy-n4g, div.sexy-n4g, div.sexy-strands, div.sexy-strands, div.sexy-orkut, div.sexy-orkut, div.sexy-tumblr, div.sexy-tumblr, div.sexy-stumpedia, div.sexy-stumpedia, div.sexy-current, div.sexy-current, div.sexy-blogger, div.sexy-blogger, div.sexy-plurk, div.sexy-plurk { background:url('../images/sexy-sprite.png') no-repeat !important; }
div.sexy-newsvine { background-position:0 0 !important; }
div.sexy-linkedin { background-position:-70px 0 !important; }
div.sexy-devmarks { background-position:-140px 0 !important; }
div.sexy-googlebookmarks, div.sexy-googlereader, div.sexy-googlebuzz { background-position:-210px 0 !important; }
div.sexy-mail { background-position:-350px 0 !important; }
div.sexy-comfeed { background-position:-420px 0 !important; }
div.sexy-twitter { background-position:-490px 0 !important; }
div.sexy-technorati { background-position:-560px 0 !important; }
div.sexy-stumbleupon { background-position:-630px 0 !important; }
div.sexy-reddit { background-position:-700px 0 !important; }
div.sexy-myspace { background-position:-770px 0 !important; }
div.sexy-mixx { background-position:-840px 0 !important; }
div.sexy-diigo { background-position:-910px 0 !important; }
div.sexy-digg { background-position:-980px 0 !important; }
div.sexy-designfloat { background-position:-1050px 0 !important; }
div.sexy-yahoobuzz { background-position:-1120px 0 !important; }
div.sexy-delicious { background-position:-1190px 0 !important; }
div.sexy-blinklist { background-position:-1260px 0 !important; }
div.sexy-facebook { background-position:-1330px 0 !important; }
div.sexy-misterwong { background-position:-1400px 0 !important; }
div.sexy-izeby { background-position:-1470px 0 !important; }
div.sexy-twittley { background-position:-1540px 0 !important; }
div.sexy-tipd { background-position:-1610px 0 !important; }
div.sexy-pfbuzz { background-position:-1680px 0 !important; }
div.sexy-friendfeed { background-position:-1750px 0 !important; }
div.sexy-blogmarks { background-position:-1820px 0 !important; }
div.sexy-fwisp { background-position:-1890px 0 !important; }
div.sexy-designmoo { background-position:-1960px 0 !important; }
div.sexy-bobrdobr { background-position:-2030px 0 !important; }
div.sexy-memoryru { background-position:-2100px 0 !important; }
div.sexy-100zakladok { background-position:-2170px 0 !important; }
div.sexy-yandex { background-position:-2240px 0 !important; }
div.sexy-moemesto { background-position:-2310px 0 !important; }
div.sexy-marrows { background-position:-2380px 0 !important; }
div.sexy-identica { background-position:-2450px 0 !important; }
div.sexy-hackernews { background-position:-2520px 0 !important; }
div.sexy-ning { background-position:-2590px 0 !important; }
div.sexy-designbump { background-position:-2660px 0 !important; }
div.sexy-printfriendly { background-position:-2730px 0 !important; }
div.sexy-fleck{ background-position:-2800px 0 !important; }
div.sexy-netvibes{ background-position:-2870px 0 !important; }
div.sexy-netvouz{ background-position:-2940px 0 !important; }
div.sexy-nujij{ background-position:-3010px 0 !important; }
div.sexy-globalgrind{ background-position:-3080px 0 !important; }
div.sexy-wikio{ background-position:-3150px 0 !important; }
div.sexy-xerpi{ background-position:-3220px 0 !important; }
div.sexy-sphinn{ background-position:-3290px 0 !important; }
div.sexy-blogospherenews{ background-position:-3360px 0 !important; }
div.sexy-posterous{ background-position:-3430px 0 !important; }
div.sexy-techmeme{ background-position:-3500px 0 !important; }
div.sexy-ekudos{ background-position:-3570px 0 !important; }
div.sexy-pingfm{ background-position:-3640px 0 !important; }
div.sexy-tomuse{ background-position:-3710px 0 !important; }
div.sexy-webblend{ background-position:-3780px 0 !important; }
div.sexy-wykop{ background-position:-3850px 0 !important; }
div.sexy-blogengage{ background-position:-3920px 0 !important; }
div.sexy-hyves { background-position:-3990px 0 !important; }
div.sexy-pusha { background-position:-4060px 0 !important; }
div.sexy-hatena { background-position:-4130px 0 !important; }
div.sexy-mylinkvault { background-position:-4200px 0 !important; }
div.sexy-slashdot { background-position:-4270px 0 !important; }
div.sexy-squidoo { background-position:-4340px 0 !important; }
div.sexy-propeller { background-position:-4410px 0 !important; }
div.sexy-faqpal { background-position:-4480px 0 !important; }
div.sexy-evernote { background-position:-4550px 0 !important; }
div.sexy-meneame { background-position:-4620px 0 !important; }
div.sexy-bitacoras { background-position:-4690px 0 !important; }
div.sexy-jumptags { background-position:-4760px 0 !important; }
div.sexy-bebo { background-position:-4830px 0 !important; }
div.sexy-n4g { background-position:-4900px 0 !important; }
div.sexy-strands { background-position:-4970px 0 !important; }
div.sexy-orkut { background-position:-5040px 0 !important; }
div.sexy-tumblr { background-position:-5110px 0 !important; }
div.sexy-stumpedia { background-position:-5180px 0 !important; }
div.sexy-current { background-position:-5250px 0 !important; }
div.sexy-blogger { background-position:-5320px 0 !important; }
div.sexy-plurk { background-position:-5390px 0 !important; }