#akst_form {
    background: #999;
    border: 1px solid #ddd;
    display: none;
    position: absolute;
    width: 350px;
    margin-top: 5px;
    margin-left: -280px;
    z-index: 999;
}
#akst_form a.akst_close {
    color: #fff;
    float: right;
    margin: 5px;
}
#akst_form ul.tabs {
    border: 1px solid #999;
    list-style: none;
    margin: 10px 10px 0 10px;
    padding: 0;
}
#akst_form ul.tabs li {
    background: #ccc;
    border-bottom: 1px solid #999;
    cursor: pointer;
    float: left;
    margin: 0 3px 0 0;
    padding: 3px 5px 2px 5px;
}
#akst_form ul.tabs li.selected {
    background: #fff;
    border-bottom: 1px solid #fff;
    cursor: default;
    padding: 4px 5px 1px 5px;
}
#akst_form div.clear {
    clear: both;
    float: none;
}
#akst_social, #akst_email {
    background: #fff;
    border: 1px solid #fff;
    padding: 10px;
}
#akst_social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#akst_social ul li {
    float: left;
    margin: 0;
    padding: 0;
    width: 45%;
}
#akst_social ul li a {
    background-position: 0px 2px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 24px;
    padding: 4px 0 0 22px;
    vertical-align: middle;
}
#akst_delicious {
    background-image: url(../images/delicious.gif);
}
#akst_digg {
    background-image: url(../images/digg.gif);
}
#akst_facebook {
    background-image: url(../images/facebook.jpg);
}
#akst_furl {
    background-image: url(../images/furl.gif);
}
#akst_netscape {
            background-image: url(../images/netscape.gif);
}
#akst_yahoo_myweb {
    background-image: url(../images/yahoo_myweb.gif);
}
#akst_stumbleupon {
    background-image: url(../images/stumbleupon.gif);
}
#akst_twitter {
    background-image: url(../images/twitter.png);
}
#akst_google_bmarks {
    background-image: url(../images/google_bmarks.gif);
}
#akst_technorati {
    background-image: url(../images/technorati.gif);
}
#akst_blinklist {
    background-image: url(../images/blinklist.gif);
}
#akst_newsvine {
    background-image: url(../images/newsvine.gif);
}
#akst_magnolia {
    background-image: url(../images/magnolia.gif);
}
#akst_reddit {
    background-image: url(../images/reddit.gif);
}
#akst_windows_live {
    background-image: url(../images/windows_live.gif);
}
#akst_tailrank {
    background-image: url(../images/tailrank.gif);
}
#akst_email {
    display: none;
    text-align: left;
}
#akst_email form, #akst_email fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
#akst_email fieldset legend {
    display: none;
}
#akst_email ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#akst_email ul li {
    margin: 0 0 7px 0;
    padding: 0;
}
#akst_email ul li label {
    color: #555;
    display: block;
    margin-bottom: 3px;
}
#akst_email ul li input {
    padding: 3px 10px;
}
#akst_email ul li input.akst_text {
    padding: 3px;
    width: 280px;
}




