
/* Twitter */
.twitter-share-button {
  vertical-align: middle;
}

/* ShareThis */
#akst_form {
  background: #999;
  border: 1px solid #ddd;
  display: none;
  position: absolute;
  width: 350px;
  z-index: 999;
}
#akst_form a.akst_close {
  color: #fff;
  float: right;
  margin: 5px;
}
#akst_form ul.tabs {
  border: 1px solid #999;
  list-style: none;
  margin: 10px 10px 0 10px;
  padding: 0;
}
#akst_form ul.tabs li {
  background: #ccc;
  border-bottom: 1px solid #999;
  cursor: pointer;
  float: left;
  margin: 0 3px 0 0;
  padding: 3px 5px 2px 5px;
}
#akst_form ul.tabs li.selected {
  background: #fff;
  border-bottom: 1px solid #fff;
  cursor: default;
  padding: 4px 5px 1px 5px;
}
#akst_form div.clear {
  clear: both;
  float: none;
}
#akst_social, #akst_email {
  background: #fff;
  border: 1px solid #fff;
  padding: 10px;
}
#akst_social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#akst_social ul li {
  float: left;
  margin: 0;
  padding: 0;
  width: 45%;
}
#akst_social ul li a {
  background-position: 0px 2px;
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 24px;
  padding: 4px 0 0 22px;
  vertical-align: middle;
}
#akst_delicious {
  background-image: url(../images/delicious.gif);
}
#akst_digg {
  background-image: url(../images/digg.gif);
}
#akst_facebook {
  background-image: url(../images/facebook.jpg);
}
#akst_furl {
  background-image: url(../images/furl.gif);
}
#akst_netscape {
  background-image: url(../images/netscape.gif);
}
#akst_yahoo_myweb {
  background-image: url(../images/yahoo_myweb.gif);
}
#akst_stumbleupon {
  background-image: url(../images/stumbleupon.gif);
}
#akst_twitter {
  background-image: url(../images/twitter.png);
}
#akst_google_bmarks {
  background-image: url(../images/google_bmarks.gif);
}
#akst_technorati {
  background-image: url(../images/technorati.gif);
}
#akst_blinklist {
  background-image: url(../images/blinklist.gif);
}
#akst_newsvine {
  background-image: url(../images/newsvine.gif);
}
#akst_magnolia {
  background-image: url(../images/magnolia.gif);
}
#akst_reddit {
  background-image: url(../images/reddit.gif);
}
#akst_windows_live {
  background-image: url(../images/windows_live.gif);
}
#akst_tailrank {
  background-image: url(../images/tailrank.gif);
}
#akst_email {
  display: none;
  text-align: left;
}
#akst_email form, #akst_email fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
#akst_email fieldset legend {
  display: none;
}
#akst_email ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#akst_email ul li {
  margin: 0 0 7px 0;
  padding: 0;
}
#akst_email ul li label {
  color: #555;
  display: block;
  margin-bottom: 3px;
}
#akst_email ul li input {
  padding: 3px 10px;
}
#akst_email ul li input.akst_text {
  padding: 3px;
  width: 280px;
}

/* SexyBookmarks */
div.sexy-bookmarks { margin:20px 0 0 0; clear: both !important; }
div.sexy-bookmarks-expand { height: 29px; overflow: hidden; }
.sexy-bookmarks-bg-sexy, .sexy-bookmarks-bg-caring, .sexy-bookmarks-bg-caring-old, .sexy-bookmarks-bg-love, .sexy-bookmarks-bg-wealth, .sexy-bookmarks-bg-enjoy
div.sexy-bookmarks-bg-sexy { padding: 28px 0 0 10px !important; background-position: 0 -348px !important; }
div.sexy-bookmarks-bg-caring { padding: 26px 0 0 10px !important; background-position: 0 0 !important; }
div.sexy-bookmarks-bg-caring-old { padding: 26px 0 0 10px !important; background-position: 0 -748px !important; }
div.sexy-bookmarks-bg-love { padding: 26px 0 0 10px !important; background-position: 0 -1148px !important; }
div.sexy-bookmarks-bg-wealth { margin-left: 15px !important; padding: 35px 0 0 20px !important; background-position: 0 -1535px !important; }
div.sexy-bookmarks-bg-enjoy { padding: 26px 0 0 10px !important; background-position: 0 -1895px !important; }
div.sexy-bookmarks-bg-german { padding:35px 0 0 20px !important; background-position:0 -2248px !important; }
div.sexy-bookmarks ul.socials { width:100% !important; margin:0 !important; padding:0 !important; float: left !important; }
div.sexy-bookmarks ul.socials { background:transparent none !important; border:0 none !important; outline:0 none !important; }
div.sexy-bookmarks ul.socials li {
  display:inline !important;
  float:left !important;
  list-style-type:none !important;
  margin:0;
  height:29px !important;
  width:60px !important;
  cursor:pointer !important;
  padding:0 !important;
  background-color:transparent !important;
  border:0 none !important;
  outline:0 none !important;
  clear:none !important;
}
div.sexy-bookmarks ul.socials li:before, div.sexy-bookmarks ul.socials li:after, div.sexy-bookmarks ul.socials li a:before, div.sexy-bookmarks ul.socials li a:after { content:none !important; }
div.sexy-bookmarks ul.socials a {
  display:block !important;
  width:60px !important;
  height:29px !important;
  text-indent: -9999px !important;
  background-color:transparent !important;
}
div.sexy-bookmarks ul.socials a:hover, div.sexy-bookmarks ul.socials li:hover { background-color:transparent !important; border:0 none !important; outline:0 none !important; }
li.sexy-googlebookmarks, li.sexy-googlereader, li.sexy-googlebuzz, li.sexy-diigo, li.sexy-diigo:hover, li.sexy-digg, li.sexy-digg:hover, li.sexy-reddit, li.sexy-reddit:hover, li.sexy-stumbleupon, li.sexy-stumbleupon:hover, li.sexy-delicious, li.sexy-delicious:hover, li.sexy-yahoobuzz, li.sexy-yahoobuzz:hover, li.sexy-blinklist, li.sexy-blinklist:hover, li.sexy-technorati, li.sexy-technorati:hover, li.sexy-facebook, li.sexy-facebook:hover, li.sexy-twitter, li.sexy-twitter:hover, li.sexy-myspace, li.sexy-myspace:hover, li.sexy-mixx, li.sexy-mixx:hover, li.sexy-scriptstyle, li.sexy-scriptstyle:hover, li.sexy-designfloat, li.sexy-designfloat:hover, li.sexy-mail, li.sexy-mail:hover, li.sexy-comfeed, li.sexy-comfeed:hover, li.sexy-newsvine, li.sexy-newsvine:hover, li.sexy-devmarks, li.sexy-devmarks:hover, li.sexy-linkedin, li.sexy-linkedin:hover, li.sexy-sexy-googlebookmarks, li.sexy-sexy-googlebookmarks:hover, li.sexy-sexy-googlereader, li.sexy-sexy-googlereader:hover, li.sexy-googlebuzz, li.sexy-googlebuzz:hover, li.sexy-misterwong, li.sexy-misterwong:hover, li.sexy-izeby, li.sexy-izeby:hover, li.sexy-twittley, li.sexy-twittley:hover, li.sexy-tipd, li.sexy-tipd:hover, li.sexy-pfbuzz, li.sexy-pfbuzz:hover, li.sexy-friendfeed, li.sexy-friendfeed:hover, li.sexy-blogmarks, li.sexy-blogmarks:hover, li.sexy-fwisp, li.sexy-fwisp:hover, li.sexy-designmoo, li.sexy-designmoo:hover, li.sexy-bobrdobr, li.sexy-bobrdobr:hover, li.sexy-yandex, li.sexy-yandex:hover, li.sexy-memoryru, li.sexy-memoryru:hover, li.sexy-100zakladok, li.sexy-100zakladok:hover, li.sexy-moemesto, li.sexy-moemesto:hover, li.sexy-ning, li.sexy-ning:hover, li.sexy-hackernews, li.sexy-hackernews:hover, li.sexy-identica, li.sexy-identica:hover, li.sexy-printfriendly, li.sexy-printfriendly:hover, li.sexy-designbump, li.sexy-designbump:hover, li.sexy-fleck, li.sexy-fleck:hover, li.sexy-netvibes, li.sexy-netvibes:hover, li.sexy-netvouz, li.sexy-netvouz:hover, li.sexy-nujij, li.sexy-nujij:hover, li.sexy-globalgrind, li.sexy-globalgrind:hover, li.sexy-wikio, li.sexy-wikio:hover, li.sexy-xerpi, li.sexy-xerpi:hover, li.sexy-sphinn, li.sexy-sphinn:hover, li.sexy-blogospherenews, li.sexy-blogospherenews:hover, li.sexy-posterous, li.sexy-posterous:hover, li.sexy-techmeme, li.sexy-techmeme:hover, li.sexy-ekudos, li.sexy-ekudos:hover, li.sexy-pingfm, li.sexy-pingfm:hover, li.sexy-tomuse, li.sexy-tomuse:hover, li.sexy-webblend, li.sexy-webblend:hover, li.sexy-wykop, li.sexy-wykop:hover, li.sexy-blogengage, li.sexy-blogengage:hover, li.sexy-hyves, li.sexy-hyves:hover, li.sexy-pusha, li.sexy-pusha:hover, li.sexy-hatena, li.sexy-hatena:hover, li.sexy-mylinkvault, li.sexy-mylinkvault:hover, li.sexy-slashdot, li.sexy-slashdot:hover, li.sexy-squidoo, li.sexy-squidoo:hover, li.sexy-propeller, li.sexy-propeller:hover, li.sexy-faqpal, li.sexy-faqpal:hover, li.sexy-evernote, li.sexy-evernote:hover, li.sexy-meneame, li.sexy-meneame:hover, li.sexy-bitacoras, li.sexy-bitacoras:hover, li.sexy-jumptags, li.sexy-jumptags:hover, li.sexy-bebo, li.sexy-bebo:hover, li.sexy-n4g, li.sexy-n4g:hover, li.sexy-strands, li.sexy-strands:hover, li.sexy-orkut, li.sexy-orkut:hover, li.sexy-tumblr, li.sexy-tumblr:hover, li.sexy-stumpedia, li.sexy-stumpedia:hover, li.sexy-current, li.sexy-current:hover, li.sexy-blogger, li.sexy-blogger:hover, li.sexy-plurk, li.sexy-plurk:hover { background:url('../images/sexy-sprite.png') no-repeat !important; }
li.sexy-newsvine { background-position:left bottom !important; }
li.sexy-newsvine:hover { background-position:left 0 !important; }
li.sexy-linkedin { background-position:-70px bottom !important; }
li.sexy-linkedin:hover { background-position:-70px 0 !important; }
li.sexy-devmarks { background-position:-140px bottom !important; }
li.sexy-devmarks:hover { background-position:-140px 0 !important; }
li.sexy-googlebookmarks, li.sexy-googlereader, li.sexy-googlebuzz { background-position:-210px bottom !important; }
li.sexy-googlebookmarks:hover, li.sexy-googlereader:hover, li.sexy-googlebuzz:hover { background-position:-210px 0 !important; }
li.sexy-scriptstyle { background-position:-280px bottom !important; }
li.sexy-scriptstyle:hover { background-position:-280px 0 !important; }
li.sexy-mail { background-position:-350px bottom !important; }
li.sexy-mail:hover { background-position:-350px 0 !important; }
li.sexy-comfeed { background-position:-420px bottom !important; }
li.sexy-comfeed:hover { background-position:-420px 0 !important; }
li.sexy-twitter { background-position:-490px bottom !important; }
li.sexy-twitter:hover { background-position:-490px 0 !important; }
li.sexy-technorati { background-position:-560px bottom !important; }
li.sexy-technorati:hover { background-position:-560px 0 !important; }
li.sexy-stumbleupon { background-position:-630px bottom !important; }
li.sexy-stumbleupon:hover { background-position:-630px 0 !important; }
li.sexy-reddit { background-position:-700px bottom !important; }
li.sexy-reddit:hover { background-position:-700px 0 !important; }
li.sexy-myspace { background-position:-770px bottom !important; }
li.sexy-myspace:hover { background-position:-770px 0 !important; }
li.sexy-mixx { background-position:-840px bottom !important; }
li.sexy-mixx:hover { background-position:-840px 0 !important; }
li.sexy-diigo { background-position:-910px bottom !important; }
li.sexy-diigo:hover { background-position:-910px 0 !important; }
li.sexy-digg { background-position:-980px bottom !important; }
li.sexy-digg:hover { background-position:-980px 0 !important; }
li.sexy-designfloat { background-position:-1050px bottom !important; }
li.sexy-designfloat:hover { background-position:-1050px 0 !important; }
li.sexy-yahoobuzz { background-position:-1120px bottom !important; }
li.sexy-yahoobuzz:hover { background-position:-1120px 0 !important; }
li.sexy-delicious { background-position:-1190px bottom !important; }
li.sexy-delicious:hover { background-position:-1190px 0 !important; }
li.sexy-blinklist { background-position:-1260px bottom !important; }
li.sexy-blinklist:hover { background-position:-1260px 0 !important; }
li.sexy-facebook { background-position:-1330px bottom !important; }
li.sexy-facebook:hover { background-position:-1330px 0 !important; }
li.sexy-misterwong { background-position:-1400px bottom !important; }
li.sexy-misterwong:hover { background-position:-1400px 0 !important; }
li.sexy-izeby { background-position:-1470px bottom !important; }
li.sexy-izeby:hover { background-position:-1470px 0 !important; }
li.sexy-twittley { background-position:-1540px bottom !important; }
li.sexy-twittley:hover { background-position:-1540px 0 !important; }
li.sexy-tipd { background-position:-1610px bottom !important; }
li.sexy-tipd:hover { background-position:-1610px 0 !important; }
li.sexy-pfbuzz { background-position:-1680px bottom !important; }
li.sexy-pfbuzz:hover { background-position:-1680px 0 !important; }
li.sexy-friendfeed { background-position:-1750px bottom !important; }
li.sexy-friendfeed:hover { background-position:-1750px 0 !important; }
li.sexy-blogmarks { background-position:-1820px bottom !important; }
li.sexy-blogmarks:hover { background-position:-1820px 0 !important; }
li.sexy-fwisp { background-position:-1890px bottom !important; }
li.sexy-fwisp:hover { background-position:-1890px 0 !important; }
li.sexy-designmoo { background-position:-1960px bottom !important; }
li.sexy-designmoo:hover { background-position:-1960px 0 !important; }
li.sexy-bobrdobr { background-position:-2030px bottom !important; }
li.sexy-bobrdobr:hover { background-position:-2030px 0 !important; }
li.sexy-memoryru { background-position:-2100px bottom !important; }
li.sexy-memoryru:hover { background-position:-2100px 0 !important; }
li.sexy-100zakladok { background-position:-2170px bottom !important; }
li.sexy-100zakladok:hover { background-position:-2170px 0 !important; }
li.sexy-yandex { background-position:-2240px bottom !important; }
li.sexy-yandex:hover { background-position:-2240px 0 !important; }
li.sexy-moemesto { background-position:-2310px bottom !important; }
li.sexy-moemesto:hover { background-position:-2310px 0 !important; }
li.sexy-marrows { background-position:-2380px bottom !important; }
li.sexy-marrows:hover { background-position:-2380px 0 !important; }
li.sexy-identica { background-position:-2450px bottom !important; }
li.sexy-identica:hover { background-position:-2450px 0 !important; }
li.sexy-hackernews { background-position:-2520px bottom !important; }
li.sexy-hackernews:hover { background-position:-2520px 0 !important; }
li.sexy-ning { background-position:-2590px bottom !important; }
li.sexy-ning:hover { background-position:-2590px 0 !important; }
li.sexy-designbump { background-position:-2660px bottom !important; }
li.sexy-designbump:hover { background-position:-2660px 0 !important; }
li.sexy-printfriendly { background-position:-2730px bottom !important; }
li.sexy-printfriendly:hover { background-position:-2730px 0 !important; }
li.sexy-fleck{ background-position:-2800px bottom !important; }
li.sexy-fleck:hover{ background-position:-2800px 0 !important; }
li.sexy-netvibes{ background-position:-2870px bottom !important; }
li.sexy-netvibes:hover{ background-position:-2870px 0 !important; }
li.sexy-netvouz{ background-position:-2940px bottom !important; }
li.sexy-netvouz:hover{ background-position:-2940px 0 !important; }
li.sexy-nujij{ background-position:-3010px bottom !important; }
li.sexy-nujij:hover{ background-position:-3010px 0 !important; }
li.sexy-globalgrind{ background-position:-3080px bottom !important; }
li.sexy-globalgrind:hover{ background-position:-3080px 0 !important; }
li.sexy-wikio{ background-position:-3150px bottom !important; }
li.sexy-wikio:hover{ background-position:-3150px 0 !important; }
li.sexy-xerpi{ background-position:-3220px bottom !important; }
li.sexy-xerpi:hover{ background-position:-3220px 0 !important; }
li.sexy-sphinn{ background-position:-3290px bottom !important; }
li.sexy-sphinn:hover{ background-position:-3290px 0 !important; }
li.sexy-blogospherenews{ background-position:-3360px bottom !important; }
li.sexy-blogospherenews:hover{ background-position:-3360px 0 !important; }
li.sexy-posterous{ background-position:-3430px bottom !important; }
li.sexy-posterous:hover{ background-position:-3430px 0 !important; }
li.sexy-techmeme{ background-position:-3500px bottom !important; }
li.sexy-techmeme:hover{ background-position:-3500px 0 !important; }
li.sexy-ekudos{ background-position:-3570px bottom !important; }
li.sexy-ekudos:hover{ background-position:-3570px 0 !important; }
li.sexy-pingfm{ background-position:-3640px bottom !important; }
li.sexy-pingfm:hover{ background-position:-3640px 0 !important; }
li.sexy-tomuse{ background-position:-3710px bottom !important; }
li.sexy-tomuse:hover { background-position:-3710px 0 !important; }
li.sexy-webblend{ background-position:-3780px bottom !important; }
li.sexy-webblend:hover { background-position:-3780px 0 !important; }
li.sexy-wykop{ background-position:-3850px bottom !important; }
li.sexy-wykop:hover { background-position:-3850px 0 !important; }
li.sexy-blogengage{ background-position:-3920px bottom !important; }
li.sexy-blogengage:hover { background-position:-3920px 0 !important; }
li.sexy-hyves { background-position:-3990px bottom !important; }
li.sexy-hyves:hover { background-position:-3990px 0 !important; }
li.sexy-pusha { background-position:-4060px bottom !important; }
li.sexy-pusha:hover { background-position:-4060px 0 !important; }
li.sexy-hatena { background-position:-4130px bottom !important; }
li.sexy-hatena:hover { background-position:-4130px 0 !important; }
li.sexy-mylinkvault { background-position:-4200px bottom !important; }
li.sexy-mylinkvault:hover { background-position:-4200px 0 !important; }
li.sexy-slashdot { background-position:-4270px bottom !important; }
li.sexy-slashdot:hover { background-position:-4270px 0 !important; }
li.sexy-squidoo { background-position:-4340px bottom !important; }
li.sexy-squidoo:hover { background-position:-4340px 0 !important; }
li.sexy-propeller { background-position:-4410px bottom !important; }
li.sexy-propeller:hover { background-position:-4410px 0 !important; }
li.sexy-faqpal { background-position:-4480px bottom !important; }
li.sexy-faqpal:hover { background-position:-4480px 0 !important; }
li.sexy-evernote { background-position:-4550px bottom !important; }
li.sexy-evernote:hover { background-position:-4550px 0 !important; }
li.sexy-meneame { background-position:-4620px bottom !important; }
li.sexy-meneame:hover { background-position:-4620px 0 !important; }
li.sexy-bitacoras { background-position:-4690px bottom !important; }
li.sexy-bitacoras:hover { background-position:-4690px 0 !important; }
li.sexy-jumptags { background-position:-4760px bottom !important; }
li.sexy-jumptags:hover { background-position:-4760px 0 !important; }
li.sexy-bebo { background-position:-4830px bottom !important; }
li.sexy-bebo:hover { background-position:-4830px 0 !important; }
li.sexy-n4g { background-position:-4900px bottom !important; }
li.sexy-n4g:hover { background-position:-4900px 0 !important; }
li.sexy-strands { background-position:-4970px bottom !important; }
li.sexy-strands:hover { background-position:-4970px 0 !important; }
li.sexy-orkut { background-position:-5040px bottom !important; }
li.sexy-orkut:hover { background-position:-5040px 0 !important; }
li.sexy-tumblr { background-position:-5110px bottom !important; }
li.sexy-tumblr:hover { background-position:-5110px 0 !important; }
li.sexy-stumpedia { background-position:-5180px bottom !important; }
li.sexy-stumpedia:hover { background-position:-5180px 0 !important; }
li.sexy-current { background-position:-5250px bottom !important; }
li.sexy-current:hover { background-position:-5250px 0 !important; }
li.sexy-blogger { background-position:-5320px bottom !important; }
li.sexy-blogger:hover { background-position:-5320px 0 !important; }
li.sexy-plurk { background-position:-5390px bottom !important; }
li.sexy-plurk:hover { background-position:-5390px 0 !important; }
